<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>familyName</key>
    <string>AyannaNarrowBeta</string>
    <key>styleName</key>
    <string>Regular</string>
    <key>styleMapFamilyName</key>
    <string>AyannaNarrowBeta</string>
    <key>copyright</key>
    <string>Copyright (c) 2015, Pathum,,,</string>
    <key>unitsPerEm</key>
    <integer>1024</integer>
    <key>ascender</key>
    <integer>819</integer>
    <key>descender</key>
    <integer>-205</integer>
    <key>italicAngle</key>
    <real>0</real>
    <key>note</key>
    <string>2015-3-5: Created with FontForge (http://fontforge.org)</string>
    <key>openTypeHeadCreated</key>
    <string>2015/03/05 12:58:11</string>
    <key>openTypeHheaAscender</key>
    <integer>864</integer>
    <key>openTypeHheaDescender</key>
    <integer>-210</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameVersion</key>
    <string>Version </string>
    <key>postscriptFontName</key>
    <string>AyannaNarrowBeta</string>
    <key>postscriptFullName</key>
    <string>AyannaNarrowBeta</string>
    <key>postscriptWeightName</key>
    <string>Regular</string>
    <key>postscriptUnderlineThickness</key>
    <integer>0</integer>
    <key>postscriptUnderlinePosition</key>
    <integer>0</integer>
  </dict>
</plist>
