---
layout: project_site
---
<!doctype html>
{% include html_start.html %}

<div id='nav'>
    <ul><a class="btn-lg" href="#download">
                                Download Font
                            </a>
        <div class="fb-share-button" data-href="http://mooniak.com/ayanna-font/" data-layout="button"></div>
    </ul>
</div>
<div style="height:100vh; background:#ff6963; color:#ffffff; oveflow:hidden;">
                    
<h1 style="font-weight:200;font-size:70em; position:absolute; text-align:left; margin-left:-200px;">අකුරු මුහුණත  </h1>
            <div class="flex">
               
                <h1 style=" z-index:1000;font-weight:700;font-size:8em; text-align:left; background:#ffe44d; padding:30px; color:#000">අයන්න <br>අකුරු මුහුණත  </h1>
                <br>
             
            </div>
                    <div class="flex">

           <h3 style="font-weight:500; z-index:1000; color:#000; font-size:2em; text-align:center;"><br>Ayanna Font - නිදහසේ දිගට හරහට  
</h3>
                <div class="row">
                    <div class=" col-md-2 col-md-offset-5">
                        <a class="btn-lg" href="#sample">
                            <i class='glyphicon glyphicon-arrow-down 3x'></i>
                        </a>
                    </div>
                </div>
        
        </div>
        
    </div>
<div id="sample" class="container">
    <br>
    <br>
    <br>
    <div class="row">
        
        <div class="col-md-4">
            <h1 style=" font-weight:700; font-size:100px; color:#000000"> පැංචලාගේ රට</h1>
           
            <p style="font-weight: 600;border-bottom: 1px solid #000000;
    border-top: 1px solid #000000;
    padding: 10px 0px;
    font-size: 1em;    margin: 15px 0px;
 "> පැංචා ලංකාව අතහැර දමා, කැනඩාව බලා ගුවන්ගත වූයේ අවුරුදු 16දී ය. ඒ වන විට පැංචා, වසර 11ක් පාසල් ගොස්, සිංහල, ගණිතය, ආගම, ඉංග්‍රීසි සහ අනෙකුත් විෂයන් 4ක් සමග සාමාන්‍ය පෙළත් සමත් වී තිබුණි. පැංචා තම සමීප මිතුරන්, නෑදෑයන් මෙන්ම, තමා හැදුනු වැදුණු වටපිටාව, ගහ කොළ, සහ මුළු සමාජ පරිසරයම සමග සාදාගත් මතකයන් හැරදමා යෑමේ දුක එක පසෙකින් ගෙන, අලුත් රටකට, අලුත් ලොවකට, අලුත් ජීවිතයකට පය තැබීමේ ඇති ආශාව අනෙක් පසින් ගෙන කටුනායක ගුවන්තොටුපොලේදී හිස හරවා තම මවු රට දෙස හැරී බලා මිශ්‍ර හැඟුමින් යුතු සුසුමක් හෙළ, තම ගුවන් යානයට ගොඩවුනු හැටි, පැංචාට අමතක වී නැත.
            </p>         
<p>              
ටොරොන්ටෝ පියර්සන් ගුවන් තොටුපොලින් පැංචා කැනඩාවට පය තබන විට, පය 28ක් පමණ කාලයක් ගෙවී හමාරය. එම පය 28 තුල තම ජීවිතය වෙනස් වුනු අයුරු පැංචාට තේරුම් යන්න වසර 28ක් වත් ගත වනු ඇත. අම්මා තාත්තා පැංචාව කැනඩාවට ගෙන එන්නේ වැඩකටය. එය පැංචාගේ උසස් අධ්‍යාපනය සාර්ථක මගකට යොමු කර, ඔහුට සැපවත් ජීවිතයක් ලඟා කර දීමේ වැඩ පිළිවෙලයි. පැංචා මෙය හොඳ ආකරවම දන්නේය. ඉදිරි වසර 6-7 තුල එය ඔහුගේ අරමුණ විය යුතුය. එම මග ජය ගැනීම ඔහුගේ අරගලය විය යුතුය. 
            </p>         
<p>   
නමුත් අරගල හුදෙක් සාපේක්ෂය. උතුරේ යම් කෙනෙක්ට වේලුපිල්ලේ ප්‍රභාකරන් අරගල කරුවෙක්ය. දකුණේ යම් කෙනෙක්ට රෝහණ විජේවීර අරගල කරුවෙක්ය. විමල් වීරවංස අරගල කරුවෙක්ය. රන්ජන් රාමනායක අරගල කරුවෙක්ය. බෙන් ටෙන් අරගල කරුවෙක්ය. පැංචාගේ අරගලය පැංචාට සාපේක්ෂය. 
    
            </p>
        </div>
            <div class="col-md-4">
          
        
<p> 
    
පැංචා විශ්ව විද්‍යාලයට යාමට පෙර තවත් වසර දෙකක් high-school යා යුතු ය. එය ඔහුගේ පළමු අරගලය වන්නේය. කොළඹ පාසලකට ගිය පැංචා, තමා ලද ඉංග්‍රීසි දැනුමෙන් මනාව කැනඩාවේ ළමුන් සමග මිශ්‍ර වෙන්නේය. මිතුරු වෙන්නේය. නමුත් උන් පැංචා අහපු ඉරාජ්, බාතිය සන්තුෂ් අහන්නේ නැත. උන් YES fm  එකේ ගිය Coldplay, Maroon5 අහන්නෙත් නැත. Eminem අහන්නේය. නමුත් ඉඳ හිටය. උන් අහන්නේ අලුත්ම සින්දුය. ඊයේ පෙරේදා out  වෙච්ච ඒවාය්. උන් tv  series  බලන්නේ tv  චන්නෙල් එකේ පෙන්නන විටි මිසක්, download  කර නොවේ ය. චිත්‍රපටි බලන්නේ release  වෙන දින theater  එකේදී මිස, dvd  එක නෙමේ ය. නමුත් පැංචාට ඇති ලොකුම ප්‍රශ්නය, ඌ බලපු සිංහල හඬ කවපු කාටුන්, සිංහල හඬ කවපු tv  සීරිස්, උප සිරැසි දාපු ෆිල්ම්, එකක් වත් මුන් බලා නැති එකය. පැංචා ෆුල් අවුට් ය. 
    </p>
    <p>
    පැංචා කෙමෙන් කෙමෙන් පුනුරුත්තාපනය වන්නේය.  දැන් උට විශ්ව විද්‍යාලය අමතකය, high-school එක අමතකය. මෙම සංස්කෘතික පුනුරුත්තාපනය දැන් පැංචාගේ එකම අරගලය වී ඇත.   
මෙම අරගලය ඔස්සේ බිඳෙන් බිඳ කැනේඩියන් වන පැංචා, ටිකෙන් ටික තම වසර 16ක් ගොඩ නගාගත් අනන්‍යතාවයේ හැව අරින්නේය. අවුරුද්දකට පෙර සාමාන්‍ය පෙලට ඉගෙන ගත් සංදේශ කාව්‍ය, සුභාෂිතය මෙන්ම, ලාංකීය ඉතිහාසය, ජන සංගීතය වැනි දේවල් දැන් පැංචාගේ ඔලුවෙන් ඉරේස් වී හමාරය. පැංචාට දැන් ඉරාජ්, BnS ගොන් ය. පන්තියේදී තප්පු දදා කියපු ජෝති, මිල්ටන් වහ කදුරුය. ක්ලාස් ට්‍රිප් එක යන විට බස් එකේ අන්තිම පේලියේ ඉඳන් කියූ CT, MS, ප්‍රියා නොන්ජල් ය. ටින් ටින්, සූර පප්පා, කවුද බෝයි මෝඩ කතාය. රොබින්සන් අන්දරය, මායා බන්ධන චාටර් ය. කොටින්ම, පැංචාගේ ශ්‍රී ලාංකීය බව උට දැන් මදි කමකි. දූපතක ඉපදුනු, යුද්ධයක් තිබුණු රටක හැදුනු වැදුණු, තවමත් ආගමට, සංස්කෘතියට හා භාෂාවට නැඹුරු සිස්ටම් එකක ප්‍රඩක්ට් එකක් වීම ඌට හෙන අවුලකි. මොකද, ඌ කෙතරම් කැනේඩියන් වීමට තැත් කරත්, කැනඩාවේ උන්ට ඌ ලංකාවේ එකෙකි. 
                </p>          
 
    
    </div>
                    <div class="col-md-4">

        <p>
            කැනඩාවේ වෙසෙන තුන්වන පරම්පරාවේ සුදු පැංචන් ද, තම තමන් ව හඳුන්වාගන්නේ "I was born here but my background is so and so" කියාය. ඉතින් කැනඩාවට වසර කීපයකට පෙර ආ පැංචාට ඌ කැනේඩියන් යැයි කීමට කට ඇරීමට නොහැක. ඌගේ අරගලයේ උච්චතම අවස්තාව මෙය වන්නේය. සුද්දා ඉදිරියේ පැංචා  නැවත ශ්‍රී ලාංකීය වන්නේය. නැවත සිංහල වන්නේය. තම අසිරිමත් පාරාදීස දිවයින ගැන ඔහු උජාරුවෙන් සුද්දාට පුරසාරම් දොඩන්නේය. තම පොහොසත් සංස්කෘතිය සහ අභිමානවත් අතීතය ගැන සුද්දාට පොල් ටෝක් දෙන්නේය. ලංකාවටවත් බැරි වුනු අයුරින්, සුද්දා පැංචාව ශ්‍රී ලාංකීය කරන්නේය. පැංචාගේ අරගලය සැඩ පහරේය.   </p>          
<p> 
පැංචා කටුනායක දී තම මාතෘ භූමිය දෙස හැරී බැලුවා සේ, නැවත තම ජීවිතය දෙස බලා තම අරගලය හඳුනාගෙන එය ජයගන්නා තෙක්, මේ මනකල්පිත සමාජය මත ගොඩනගන අනන්‍යතා අරගලය ජය ගැනීමට ඔහුට හැකි වන්නේ නැත. 
කැනඩාවේ ඉන්න කැනඩාවේ උන්ගේ රට කැනඩාවය. 
ලංකාවේ ඉන්න ලංකාවේ උන්ගේ රට ලංකාවය. 
එතකොට පැංචලාගේ රට?
            </p>
                </div>
        </div>
    </div>
</div>


<!--  Red Weights Block   -->

</div>
<br />
<br />

</div>
<div class="row">
    <div class=" col-md-6">
    </div>
</div>


<div style=" margin-top: 60px; z-index: 1000;width: 100%;    padding: 40px 0px;">
    <div id="download" class="container">
        <div class="row">
            <div class=" col-md-3">
                <a class="btn btn-default btn-lg" href='https://github.com/mooniak/ayanna-font/releases/latest'>ලබාගන්න <br>Download Font</a>
            </div>
            <!--
            <div class=" col-md-3">
                <a class="btn btn-default btn-lg" href='https://www.google.com/fonts/specimen/Ayanna+Narrow'>Google Fonts හරහා <br> Use with Googel Fonts</a>
            </div>
            -->
            <div class=" col-md-3">
                <a class="btn btn-default btn-lg" href='https://github.com/mooniak/ayanna-font/issues'>ගැටළු  හා යෝජනා  <br> Report Bugs and Issues</a>
            </div>
            <div class=" col-md-3">
                <a class="btn btn-default btn-lg" href='https://www.youtube.com/playlist?list=PLpw12zH02-An-6i79877NUi_ld3U_4tmv'>ව්‍යාපෘතියේ  වාර්තා <br> Project Documentation</a>
            </div>
        </div>
        <p style="font-weight:800 ;text-align:center; font-size:10em;"> ෴</p>
        {% include footer.html %}
    </div>
    <script>
        $(function () {
            $("#fonts").change(function () {
                //alert($(this).val());
                console.log($("#preview").css("font-family"));
                $("#preview").css("font-family", "MyFont-" + $(this).val());
            });
            $("#text").keypress(function () {
                $("#preview").html($(this).val());
            });
        });
    </script>
    <script src="./js/jquery.fittext.js"></script>
    <script type="text/javascript">
        $("#fittext1").fitText(0.3);
        $("#fittext2").fitText(0.3);
        $("#fittext3").fitText(1, {
            minFontSize: '20px',
            maxFontSize: '32px'
        });
        $("#fittext4").fitText(0.1);
        $("#fittext5").fitText(0.35);
    </script>
    </body>
    </html>
