{
displayStrings = (
"/sinUu/sinAi/sinAi/sinAi/sinAi/sinAu/sinMatraAi/sinMatraAi/sinMatraAi/sinMatraAi/sinMatraAu/sinMatraAu/sinMatraAu/sinMatraAu/sinMatraO/sinMatraO/sinMatraO/sinMatraO/sinMatraOo/sinMatraOo/sinMatraOo/sinMatraOo/sinYansaya_Reph_MatraAa/sinYansaya_Reph_MatraAa/sinYansaya_Reph_MatraAa/sinYansaya_Reph_MatraAa ````",
"/sinNga",
"/sinSha/sinSh 1/sinNDU/one.osf ¹/sinNDhU/sinShR/sinZerolith/sinNVU/sinDDhU/fiveArchaic-sinhala/tenArchaic-sinhala/twentyArchaic-sinhala/sinKhU/sinCU/seventyArchaic-sinhala/sinShRI/sinChU/sinJU/onethousandArchaic-sinhala/sinJnyU/sinShI/sinNyjU/sinTtU/sinDdU/sinNnddU/sinDU/sinDhU/sinNU/sinShRIi/sinNdU/sinPU/sinBU/sinMU/sinMbU/sinShRa/sinShU/sinSsU/sinFU/sinSha.reph",
"/sinNDU/sinNDhU/sinShR/sinNVU/sinDDhU 1/one.osf ¹/sinZerolith/sinSh/sinSha/sinShRI/fiveArchaic-sinhala/tenArchaic-sinhala/twentyArchaic-sinhala/sinMatraU/seventyArchaic-sinhala/onethousandArchaic-sinhala/sinKhU/sinCU/sinShRIi/sinChU/sinShRa/sinJU/sinShI/sinJnyU/sinNyjU/sinTtU/sinDdU/sinNnddU/sinDU/sinDhU/sinNU/sinNdU/sinPU/sinBU/sinSha.reph/sinMU/sinMbU/sinShU/sinSsU/sinFU",
"/sinNDU/sinNDhU/sinNVU/sinDDhU/sinShR/sinSha 1/one.osf ¹/sinZerolith/sinShRI/sinSh/fiveArchaic-sinhala/tenArchaic-sinhala/twentyArchaic-sinhala/sinMatraU/seventyArchaic-sinhala/onethousandArchaic-sinhala/sinShRIi/sinKhU/sinCU/sinChU/sinShRa/sinJU/sinJnyU/sinNyjU/sinTtU/sinDdU/sinNnddU/sinShI/sinDU/sinDhU/sinNU/sinNdU/sinPU/sinBU/sinMU/sinMbU/sinShU/sinSsU/sinFU/sinSha.reph",
"1/sinNDU/one.osf ¹/sinNDhU/sinLVocalic/sinNVU/sinDDhU/oneArchaic-sinhala/sinGUu/fiveArchaic-sinhala/sinNngUu/tenArchaic-sinhala/twentyArchaic-sinhala/seventyArchaic-sinhala/onethousandArchaic-sinhala/sinRUu/sinMatraU/sinKhU/sinCU/sinChU/sinJU/sinJnyU/sinNyjU/sinTtU/sinDdU/sinNnddU/sinDU/sinDhU/sinNU/sinNdU/sinPU/sinBU/sinMU/sinMbU/sinSsU/sinFU"
);
}
