<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>tm_A</key>
	<string>tm_A_.glif</string>
	<key>tm_Aa</key>
	<string>tm_A_a.glif</string>
	<key>tm_Ai</key>
	<string>tm_A_i.glif</string>
	<key>tm_Au</key>
	<string>tm_A_u.glif</string>
	<key>tm_Ca</key>
	<string>tm_C_a.glif</string>
	<key>tm_E</key>
	<string>tm_E_.glif</string>
	<key>tm_Ee</key>
	<string>tm_E_e.glif</string>
	<key>tm_I</key>
	<string>tm_I_.glif</string>
	<key>tm_Ii</key>
	<string>tm_I_i.glif</string>
	<key>tm_Ja</key>
	<string>tm_J_a.glif</string>
	<key>tm_Ka</key>
	<string>tm_K_a.glif</string>
	<key>tm_La</key>
	<string>tm_L_a.glif</string>
	<key>tm_Lla</key>
	<string>tm_L_la.glif</string>
	<key>tm_Llla</key>
	<string>tm_L_lla.glif</string>
	<key>tm_Ma</key>
	<string>tm_M_a.glif</string>
	<key>tm_Na</key>
	<string>tm_N_a.glif</string>
	<key>tm_Naal</key>
	<string>tm_N_aal.glif</string>
	<key>tm_Nga</key>
	<string>tm_N_ga.glif</string>
	<key>tm_Nna</key>
	<string>tm_N_na.glif</string>
	<key>tm_Nnna</key>
	<string>tm_N_nna.glif</string>
	<key>tm_Nya</key>
	<string>tm_N_ya.glif</string>
	<key>tm_O</key>
	<string>tm_O_.glif</string>
	<key>tm_Oo</key>
	<string>tm_O_o.glif</string>
	<key>tm_Pa</key>
	<string>tm_P_a.glif</string>
	<key>tm_Ra</key>
	<string>tm_R_a.glif</string>
	<key>tm_Rra</key>
	<string>tm_R_ra.glif</string>
	<key>tm_Seven</key>
	<string>tm_S_even.glif</string>
	<key>tm_Sha</key>
	<string>tm_S_ha.glif</string>
	<key>tm_Ssa</key>
	<string>tm_S_sa.glif</string>
	<key>tm_Ta</key>
	<string>tm_T_a.glif</string>
	<key>tm_Tta</key>
	<string>tm_T_ta.glif</string>
	<key>tm_U</key>
	<string>tm_U_.glif</string>
	<key>tm_Uu</key>
	<string>tm_U_u.glif</string>
	<key>tm_Va</key>
	<string>tm_V_a.glif</string>
	<key>tm_Visarga</key>
	<string>tm_V_isarga.glif</string>
	<key>tm_VowelAa</key>
	<string>tm_V_owelA_a.glif</string>
	<key>tm_Ya</key>
	<string>tm_Y_a.glif</string>
</dict>
</plist>
