<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.weight</key>
    <string>Light</string>
    <key>public.glyphOrder</key>
    <array>
      <string>tm_A</string>
      <string>tm_Aa</string>
      <string>tm_Ai</string>
      <string>tm_Au</string>
      <string>tm_Ca</string>
      <string>tm_E</string>
      <string>tm_Ee</string>
      <string>tm_I</string>
      <string>tm_Ii</string>
      <string>tm_Ja</string>
      <string>tm_Ka</string>
      <string>tm_La</string>
      <string>tm_Lla</string>
      <string>tm_Llla</string>
      <string>tm_Ma</string>
      <string>tm_Na</string>
      <string>tm_Nga</string>
      <string>tm_Nna</string>
      <string>tm_Nnna</string>
      <string>tm_Nya</string>
      <string>tm_O</string>
      <string>tm_Oo</string>
      <string>tm_Pa</string>
      <string>tm_Ra</string>
      <string>tm_Rra</string>
      <string>tm_Sha</string>
      <string>tm_Ssa</string>
      <string>tm_Ta</string>
      <string>tm_Tta</string>
      <string>tm_U</string>
      <string>tm_Uu</string>
      <string>tm_Va</string>
      <string>tm_Visarga</string>
      <string>tm_Ya</string>
      <string>tm_Seven</string>
      <string>tm_Naal</string>
      <string>tm_VowelAa</string>
    </array>
    <key>com.schriftgestaltung.fontMasterID</key>
    <string>D3669537-663F-4203-8192-BEB274270EE9</string>
    <key>com.schriftgestaltung.useNiceNames</key>
    <false/>
  </dict>
</plist>
