<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<dict>
		<key>C</key>
		<integer>-15</integer>
		<key>O</key>
		<integer>-15</integer>
		<key>Q</key>
		<integer>-15</integer>
		<key>S</key>
		<integer>-25</integer>
		<key>T</key>
		<integer>-40</integer>
		<key>U</key>
		<integer>-30</integer>
		<key>V</key>
		<integer>-30</integer>
		<key>W</key>
		<integer>-30</integer>
		<key>Y</key>
		<integer>-40</integer>
		<key>Z</key>
		<integer>-20</integer>
		<key>u</key>
		<integer>-10</integer>
	</dict>
	<key>B</key>
	<dict>
		<key>A</key>
		<integer>-20</integer>
		<key>J</key>
		<integer>-15</integer>
		<key>S</key>
		<integer>-10</integer>
		<key>T</key>
		<integer>-30</integer>
		<key>V</key>
		<integer>-20</integer>
		<key>W</key>
		<integer>-20</integer>
		<key>X</key>
		<integer>-20</integer>
		<key>Y</key>
		<integer>-20</integer>
		<key>Z</key>
		<integer>-10</integer>
		<key>colon</key>
		<integer>-15</integer>
		<key>comma</key>
		<integer>-20</integer>
		<key>period</key>
		<integer>-20</integer>
	</dict>
	<key>C</key>
	<dict>
		<key>A</key>
		<integer>-20</integer>
		<key>C</key>
		<integer>-15</integer>
		<key>G</key>
		<integer>-10</integer>
		<key>J</key>
		<integer>-15</integer>
		<key>K</key>
		<integer>-10</integer>
		<key>Q</key>
		<integer>-20</integer>
		<key>R</key>
		<integer>-20</integer>
		<key>S</key>
		<integer>-20</integer>
		<key>T</key>
		<integer>-25</integer>
		<key>V</key>
		<integer>-10</integer>
		<key>X</key>
		<integer>-15</integer>
		<key>Y</key>
		<integer>-10</integer>
		<key>Z</key>
		<integer>-20</integer>
		<key>e</key>
		<integer>-15</integer>
		<key>g</key>
		<integer>-10</integer>
		<key>o</key>
		<integer>-10</integer>
	</dict>
	<key>D</key>
	<dict>
		<key>A</key>
		<integer>-20</integer>
		<key>J</key>
		<integer>-30</integer>
		<key>M</key>
		<integer>-10</integer>
		<key>T</key>
		<integer>-30</integer>
		<key>V</key>
		<integer>-20</integer>
		<key>W</key>
		<integer>-20</integer>
		<key>X</key>
		<integer>-25</integer>
		<key>Y</key>
		<integer>-20</integer>
		<key>Z</key>
		<integer>-20</integer>
		<key>comma</key>
		<integer>-20</integer>
		<key>period</key>
		<integer>-20</integer>
	</dict>
	<key>E</key>
	<dict>
		<key>A</key>
		<integer>-15</integer>
		<key>J</key>
		<integer>-25</integer>
		<key>T</key>
		<integer>-20</integer>
		<key>V</key>
		<integer>-15</integer>
		<key>W</key>
		<integer>-10</integer>
		<key>X</key>
		<integer>-20</integer>
		<key>Y</key>
		<integer>-20</integer>
		<key>Z</key>
		<integer>-20</integer>
		<key>a</key>
		<integer>-10</integer>
		<key>d</key>
		<integer>-10</integer>
		<key>e</key>
		<integer>-10</integer>
		<key>g</key>
		<integer>-15</integer>
	</dict>
	<key>Euro</key>
	<dict>
		<key>four</key>
		<integer>-10</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>A</key>
		<integer>-55</integer>
		<key>C</key>
		<integer>-10</integer>
		<key>G</key>
		<integer>-30</integer>
		<key>H</key>
		<integer>-10</integer>
		<key>J</key>
		<integer>-40</integer>
		<key>M</key>
		<integer>-25</integer>
		<key>Q</key>
		<integer>-10</integer>
		<key>R</key>
		<integer>-25</integer>
		<key>S</key>
		<integer>-35</integer>
		<key>U</key>
		<integer>-10</integer>
		<key>V</key>
		<integer>-25</integer>
		<key>W</key>
		<integer>-15</integer>
		<key>X</key>
		<integer>-30</integer>
		<key>Y</key>
		<integer>-20</integer>
		<key>Z</key>
		<integer>-20</integer>
		<key>bracketright</key>
		<integer>-20</integer>
		<key>colon</key>
		<integer>-20</integer>
		<key>comma</key>
		<integer>-60</integer>
		<key>j</key>
		<integer>-10</integer>
		<key>l</key>
		<integer>-7</integer>
		<key>m</key>
		<integer>-15</integer>
		<key>n</key>
		<integer>-18</integer>
		<key>o</key>
		<integer>-15</integer>
		<key>p</key>
		<integer>-15</integer>
		<key>parenright</key>
		<integer>-20</integer>
		<key>period</key>
		<integer>-60</integer>
		<key>q</key>
		<integer>-15</integer>
		<key>r</key>
		<integer>-15</integer>
		<key>s</key>
		<integer>-15</integer>
		<key>slash</key>
		<integer>-20</integer>
		<key>u</key>
		<integer>-19</integer>
		<key>v</key>
		<integer>-15</integer>
		<key>w</key>
		<integer>-15</integer>
		<key>y</key>
		<integer>-15</integer>
		<key>z</key>
		<integer>-19</integer>
	</dict>
	<key>G</key>
	<dict>
		<key>J</key>
		<integer>-20</integer>
		<key>S</key>
		<integer>-20</integer>
		<key>T</key>
		<integer>-20</integer>
		<key>V</key>
		<integer>-20</integer>
		<key>W</key>
		<integer>-20</integer>
		<key>X</key>
		<integer>-30</integer>
		<key>Y</key>
		<integer>-20</integer>
		<key>Z</key>
		<integer>-25</integer>
	</dict>
	<key>H</key>
	<dict>
		<key>I</key>
		<integer>10</integer>
		<key>T</key>
		<integer>-20</integer>
		<key>U</key>
		<integer>5</integer>
		<key>Y</key>
		<integer>-10</integer>
		<key>Z</key>
		<integer>-20</integer>
	</dict>
	<key>I</key>
	<dict>
		<key>E</key>
		<integer>10</integer>
		<key>F</key>
		<integer>10</integer>
		<key>H</key>
		<integer>10</integer>
		<key>I</key>
		<integer>10</integer>
		<key>J</key>
		<integer>-20</integer>
		<key>L</key>
		<integer>10</integer>
		<key>N</key>
		<integer>5</integer>
		<key>R</key>
		<integer>10</integer>
		<key>T</key>
		<integer>-15</integer>
		<key>U</key>
		<integer>5</integer>
		<key>Y</key>
		<integer>-15</integer>
		<key>Z</key>
		<integer>-20</integer>
	</dict>
	<key>J</key>
	<dict>
		<key>E</key>
		<integer>10</integer>
		<key>F</key>
		<integer>10</integer>
		<key>I</key>
		<integer>10</integer>
		<key>R</key>
		<integer>5</integer>
		<key>S</key>
		<integer>-15</integer>
		<key>T</key>
		<integer>-20</integer>
		<key>Y</key>
		<integer>-20</integer>
		<key>Z</key>
		<integer>-20</integer>
		<key>colon</key>
		<integer>-10</integer>
		<key>comma</key>
		<integer>-10</integer>
	</dict>
	<key>K</key>
	<dict>
		<key>A</key>
		<integer>-10</integer>
		<key>C</key>
		<integer>-20</integer>
		<key>G</key>
		<integer>-20</integer>
		<key>I</key>
		<integer>-15</integer>
		<key>M</key>
		<integer>-10</integer>
		<key>O</key>
		<integer>-20</integer>
		<key>P</key>
		<integer>-10</integer>
		<key>Q</key>
		<integer>-20</integer>
		<key>R</key>
		<integer>-15</integer>
		<key>S</key>
		<integer>-30</integer>
		<key>T</key>
		<integer>-20</integer>
		<key>U</key>
		<integer>-25</integer>
		<key>V</key>
		<integer>-18</integer>
		<key>W</key>
		<integer>-10</integer>
		<key>X</key>
		<integer>-5</integer>
		<key>Y</key>
		<integer>-20</integer>
		<key>Z</key>
		<integer>-18</integer>
		<key>colon</key>
		<integer>-20</integer>
		<key>f</key>
		<integer>-10</integer>
		<key>g</key>
		<integer>-20</integer>
		<key>o</key>
		<integer>-7</integer>
		<key>u</key>
		<integer>-9</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>C</key>
		<integer>-30</integer>
		<key>G</key>
		<integer>-30</integer>
		<key>I</key>
		<integer>-20</integer>
		<key>K</key>
		<integer>-30</integer>
		<key>M</key>
		<integer>-10</integer>
		<key>O</key>
		<integer>-40</integer>
		<key>Q</key>
		<integer>-35</integer>
		<key>S</key>
		<integer>-40</integer>
		<key>T</key>
		<integer>-90</integer>
		<key>U</key>
		<integer>-28</integer>
		<key>V</key>
		<integer>-60</integer>
		<key>W</key>
		<integer>-40</integer>
		<key>Y</key>
		<integer>-80</integer>
		<key>Z</key>
		<integer>-10</integer>
		<key>bracketright</key>
		<integer>-20</integer>
		<key>d</key>
		<integer>-10</integer>
		<key>e</key>
		<integer>-10</integer>
		<key>g</key>
		<integer>-15</integer>
		<key>o</key>
		<integer>-10</integer>
		<key>parenright</key>
		<integer>-10</integer>
		<key>slash</key>
		<integer>-10</integer>
		<key>t</key>
		<integer>-10</integer>
		<key>u</key>
		<integer>-10</integer>
		<key>v</key>
		<integer>-15</integer>
		<key>w</key>
		<integer>-15</integer>
	</dict>
	<key>M</key>
	<dict>
		<key>J</key>
		<integer>-10</integer>
		<key>T</key>
		<integer>-30</integer>
		<key>V</key>
		<integer>-15</integer>
		<key>X</key>
		<integer>-15</integer>
		<key>Y</key>
		<integer>-15</integer>
	</dict>
	<key>N</key>
	<dict>
		<key>E</key>
		<integer>5</integer>
		<key>F</key>
		<integer>5</integer>
		<key>I</key>
		<integer>5</integer>
	</dict>
	<key>O</key>
	<dict>
		<key>A</key>
		<integer>-15</integer>
		<key>T</key>
		<integer>-40</integer>
		<key>V</key>
		<integer>-10</integer>
		<key>W</key>
		<integer>-10</integer>
		<key>X</key>
		<integer>-20</integer>
		<key>Y</key>
		<integer>-20</integer>
		<key>Z</key>
		<integer>-15</integer>
		<key>comma</key>
		<integer>-20</integer>
		<key>period</key>
		<integer>-20</integer>
	</dict>
	<key>P</key>
	<dict>
		<key>A</key>
		<integer>-45</integer>
		<key>C</key>
		<integer>-10</integer>
		<key>G</key>
		<integer>-10</integer>
		<key>H</key>
		<integer>-10</integer>
		<key>J</key>
		<integer>-45</integer>
		<key>L</key>
		<integer>-15</integer>
		<key>M</key>
		<integer>-15</integer>
		<key>O</key>
		<integer>-10</integer>
		<key>Q</key>
		<integer>-15</integer>
		<key>R</key>
		<integer>-25</integer>
		<key>S</key>
		<integer>-20</integer>
		<key>T</key>
		<integer>-30</integer>
		<key>U</key>
		<integer>-10</integer>
		<key>V</key>
		<integer>-20</integer>
		<key>W</key>
		<integer>-10</integer>
		<key>X</key>
		<integer>-30</integer>
		<key>Y</key>
		<integer>-20</integer>
		<key>Z</key>
		<integer>-20</integer>
		<key>a</key>
		<integer>-15</integer>
		<key>bracketright</key>
		<integer>-15</integer>
		<key>c</key>
		<integer>-10</integer>
		<key>colon</key>
		<integer>-20</integer>
		<key>comma</key>
		<integer>-80</integer>
		<key>d</key>
		<integer>-10</integer>
		<key>e</key>
		<integer>-10</integer>
		<key>g</key>
		<integer>-20</integer>
		<key>k</key>
		<integer>-10</integer>
		<key>o</key>
		<integer>-15</integer>
		<key>period</key>
		<integer>-80</integer>
		<key>q</key>
		<integer>-15</integer>
		<key>r</key>
		<integer>-10</integer>
		<key>s</key>
		<integer>-15</integer>
		<key>u</key>
		<integer>-10</integer>
	</dict>
	<key>Q</key>
	<dict>
		<key>A</key>
		<integer>-15</integer>
		<key>T</key>
		<integer>-20</integer>
		<key>V</key>
		<integer>-18</integer>
		<key>X</key>
		<integer>-10</integer>
		<key>Y</key>
		<integer>-20</integer>
		<key>Z</key>
		<integer>-10</integer>
		<key>comma</key>
		<integer>-10</integer>
		<key>period</key>
		<integer>-20</integer>
	</dict>
	<key>R</key>
	<dict>
		<key>A</key>
		<integer>-15</integer>
		<key>G</key>
		<integer>-10</integer>
		<key>M</key>
		<integer>-10</integer>
		<key>O</key>
		<integer>-10</integer>
		<key>Q</key>
		<integer>-10</integer>
		<key>S</key>
		<integer>-20</integer>
		<key>T</key>
		<integer>-20</integer>
		<key>U</key>
		<integer>-10</integer>
		<key>V</key>
		<integer>-25</integer>
		<key>W</key>
		<integer>-10</integer>
		<key>X</key>
		<integer>-15</integer>
		<key>Y</key>
		<integer>-20</integer>
		<key>Z</key>
		<integer>-14</integer>
		<key>colon</key>
		<integer>-20</integer>
		<key>g</key>
		<integer>-15</integer>
	</dict>
	<key>S</key>
	<dict>
		<key>A</key>
		<integer>-20</integer>
		<key>J</key>
		<integer>-15</integer>
		<key>T</key>
		<integer>-20</integer>
		<key>V</key>
		<integer>-20</integer>
		<key>W</key>
		<integer>-15</integer>
		<key>X</key>
		<integer>-20</integer>
		<key>Y</key>
		<integer>-30</integer>
		<key>Z</key>
		<integer>-20</integer>
		<key>u</key>
		<integer>-10</integer>
		<key>v</key>
		<integer>-8</integer>
	</dict>
	<key>T</key>
	<dict>
		<key>A</key>
		<integer>-50</integer>
		<key>B</key>
		<integer>-10</integer>
		<key>C</key>
		<integer>-20</integer>
		<key>D</key>
		<integer>-20</integer>
		<key>G</key>
		<integer>-20</integer>
		<key>H</key>
		<integer>-20</integer>
		<key>I</key>
		<integer>-15</integer>
		<key>J</key>
		<integer>-45</integer>
		<key>K</key>
		<integer>-20</integer>
		<key>L</key>
		<integer>-10</integer>
		<key>M</key>
		<integer>-25</integer>
		<key>O</key>
		<integer>-40</integer>
		<key>P</key>
		<integer>-15</integer>
		<key>Q</key>
		<integer>-15</integer>
		<key>R</key>
		<integer>-20</integer>
		<key>S</key>
		<integer>-20</integer>
		<key>T</key>
		<integer>20</integer>
		<key>U</key>
		<integer>-15</integer>
		<key>V</key>
		<integer>0</integer>
		<key>W</key>
		<integer>0</integer>
		<key>X</key>
		<integer>-10</integer>
		<key>Y</key>
		<integer>0</integer>
		<key>Z</key>
		<integer>-15</integer>
		<key>a</key>
		<integer>-40</integer>
		<key>b</key>
		<integer>-20</integer>
		<key>c</key>
		<integer>-40</integer>
		<key>colon</key>
		<integer>-60</integer>
		<key>comma</key>
		<integer>-30</integer>
		<key>d</key>
		<integer>-30</integer>
		<key>e</key>
		<integer>-30</integer>
		<key>f</key>
		<integer>-25</integer>
		<key>g</key>
		<integer>-60</integer>
		<key>h</key>
		<integer>-10</integer>
		<key>i</key>
		<integer>-20</integer>
		<key>j</key>
		<integer>-20</integer>
		<key>k</key>
		<integer>-15</integer>
		<key>l</key>
		<integer>-10</integer>
		<key>o</key>
		<integer>-15</integer>
		<key>period</key>
		<integer>-30</integer>
		<key>q</key>
		<integer>-15</integer>
		<key>r</key>
		<integer>-15</integer>
		<key>s</key>
		<integer>-35</integer>
		<key>u</key>
		<integer>-15</integer>
		<key>v</key>
		<integer>-20</integer>
		<key>w</key>
		<integer>-15</integer>
		<key>x</key>
		<integer>-15</integer>
		<key>y</key>
		<integer>-20</integer>
		<key>z</key>
		<integer>-10</integer>
	</dict>
	<key>U</key>
	<dict>
		<key>A</key>
		<integer>-30</integer>
		<key>F</key>
		<integer>5</integer>
		<key>H</key>
		<integer>5</integer>
		<key>I</key>
		<integer>5</integer>
		<key>J</key>
		<integer>-10</integer>
		<key>M</key>
		<integer>-10</integer>
		<key>T</key>
		<integer>-15</integer>
		<key>V</key>
		<integer>-15</integer>
		<key>W</key>
		<integer>-10</integer>
		<key>X</key>
		<integer>-15</integer>
		<key>Y</key>
		<integer>-15</integer>
		<key>Z</key>
		<integer>-15</integer>
		<key>g</key>
		<integer>-15</integer>
	</dict>
	<key>V</key>
	<dict>
		<key>A</key>
		<integer>-30</integer>
		<key>C</key>
		<integer>-20</integer>
		<key>G</key>
		<integer>-10</integer>
		<key>J</key>
		<integer>-40</integer>
		<key>K</key>
		<integer>-10</integer>
		<key>M</key>
		<integer>-15</integer>
		<key>O</key>
		<integer>-10</integer>
		<key>Q</key>
		<integer>-10</integer>
		<key>R</key>
		<integer>-10</integer>
		<key>S</key>
		<integer>-30</integer>
		<key>T</key>
		<integer>0</integer>
		<key>U</key>
		<integer>-15</integer>
		<key>X</key>
		<integer>-15</integer>
		<key>Y</key>
		<integer>-10</integer>
		<key>Z</key>
		<integer>-20</integer>
		<key>a</key>
		<integer>-20</integer>
		<key>c</key>
		<integer>-15</integer>
		<key>colon</key>
		<integer>-40</integer>
		<key>comma</key>
		<integer>-70</integer>
		<key>d</key>
		<integer>-15</integer>
		<key>e</key>
		<integer>-15</integer>
		<key>g</key>
		<integer>-25</integer>
		<key>i</key>
		<integer>-10</integer>
		<key>o</key>
		<integer>-5</integer>
		<key>period</key>
		<integer>-70</integer>
		<key>u</key>
		<integer>-15</integer>
		<key>y</key>
		<integer>-10</integer>
		<key>z</key>
		<integer>-15</integer>
	</dict>
	<key>W</key>
	<dict>
		<key>A</key>
		<integer>-30</integer>
		<key>C</key>
		<integer>-15</integer>
		<key>J</key>
		<integer>-25</integer>
		<key>K</key>
		<integer>-10</integer>
		<key>M</key>
		<integer>-5</integer>
		<key>O</key>
		<integer>-15</integer>
		<key>Q</key>
		<integer>-15</integer>
		<key>S</key>
		<integer>-20</integer>
		<key>T</key>
		<integer>0</integer>
		<key>U</key>
		<integer>-10</integer>
		<key>X</key>
		<integer>-10</integer>
		<key>Z</key>
		<integer>-15</integer>
		<key>a</key>
		<integer>-15</integer>
		<key>colon</key>
		<integer>-30</integer>
		<key>comma</key>
		<integer>-50</integer>
		<key>period</key>
		<integer>-50</integer>
	</dict>
	<key>X</key>
	<dict>
		<key>C</key>
		<integer>-20</integer>
		<key>G</key>
		<integer>-10</integer>
		<key>J</key>
		<integer>-7</integer>
		<key>K</key>
		<integer>-10</integer>
		<key>M</key>
		<integer>-15</integer>
		<key>O</key>
		<integer>-20</integer>
		<key>Q</key>
		<integer>-20</integer>
		<key>R</key>
		<integer>-14</integer>
		<key>S</key>
		<integer>-15</integer>
		<key>T</key>
		<integer>-15</integer>
		<key>U</key>
		<integer>-10</integer>
		<key>V</key>
		<integer>-15</integer>
		<key>W</key>
		<integer>-5</integer>
		<key>m</key>
		<integer>-15</integer>
		<key>n</key>
		<integer>-20</integer>
		<key>s</key>
		<integer>-10</integer>
		<key>u</key>
		<integer>-10</integer>
	</dict>
	<key>Y</key>
	<dict>
		<key>A</key>
		<integer>-40</integer>
		<key>B</key>
		<integer>-15</integer>
		<key>C</key>
		<integer>-15</integer>
		<key>D</key>
		<integer>-15</integer>
		<key>E</key>
		<integer>-10</integer>
		<key>G</key>
		<integer>-10</integer>
		<key>H</key>
		<integer>-10</integer>
		<key>I</key>
		<integer>-15</integer>
		<key>J</key>
		<integer>-30</integer>
		<key>K</key>
		<integer>-10</integer>
		<key>M</key>
		<integer>-15</integer>
		<key>N</key>
		<integer>-15</integer>
		<key>O</key>
		<integer>-20</integer>
		<key>Q</key>
		<integer>-20</integer>
		<key>R</key>
		<integer>-12</integer>
		<key>S</key>
		<integer>-30</integer>
		<key>T</key>
		<integer>0</integer>
		<key>U</key>
		<integer>-15</integer>
		<key>V</key>
		<integer>-10</integer>
		<key>Z</key>
		<integer>-20</integer>
		<key>a</key>
		<integer>-20</integer>
		<key>c</key>
		<integer>-10</integer>
		<key>colon</key>
		<integer>-40</integer>
		<key>comma</key>
		<integer>-70</integer>
		<key>d</key>
		<integer>-10</integer>
		<key>e</key>
		<integer>-10</integer>
		<key>g</key>
		<integer>-30</integer>
		<key>o</key>
		<integer>-10</integer>
		<key>period</key>
		<integer>-70</integer>
		<key>q</key>
		<integer>-10</integer>
		<key>r</key>
		<integer>-20</integer>
		<key>s</key>
		<integer>-20</integer>
		<key>t</key>
		<integer>-10</integer>
		<key>u</key>
		<integer>-10</integer>
		<key>v</key>
		<integer>-15</integer>
		<key>x</key>
		<integer>-15</integer>
		<key>y</key>
		<integer>-15</integer>
		<key>z</key>
		<integer>-15</integer>
	</dict>
	<key>Z</key>
	<dict>
		<key>A</key>
		<integer>-20</integer>
		<key>C</key>
		<integer>-25</integer>
		<key>D</key>
		<integer>-20</integer>
		<key>G</key>
		<integer>-20</integer>
		<key>H</key>
		<integer>-15</integer>
		<key>J</key>
		<integer>-20</integer>
		<key>M</key>
		<integer>-25</integer>
		<key>O</key>
		<integer>-15</integer>
		<key>Q</key>
		<integer>-10</integer>
		<key>R</key>
		<integer>-10</integer>
		<key>S</key>
		<integer>-15</integer>
		<key>T</key>
		<integer>-10</integer>
		<key>U</key>
		<integer>-10</integer>
		<key>V</key>
		<integer>-20</integer>
		<key>Y</key>
		<integer>-10</integer>
		<key>a</key>
		<integer>-10</integer>
		<key>c</key>
		<integer>-10</integer>
		<key>d</key>
		<integer>-10</integer>
		<key>e</key>
		<integer>-15</integer>
		<key>g</key>
		<integer>-15</integer>
		<key>o</key>
		<integer>-15</integer>
		<key>s</key>
		<integer>-10</integer>
		<key>u</key>
		<integer>-10</integer>
		<key>v</key>
		<integer>-7</integer>
	</dict>
	<key>a</key>
	<dict>
		<key>v</key>
		<integer>-5</integer>
		<key>z</key>
		<integer>-20</integer>
	</dict>
	<key>aogonek</key>
	<dict>
		<key>j</key>
		<integer>65</integer>
	</dict>
	<key>b</key>
	<dict>
		<key>comma</key>
		<integer>-20</integer>
		<key>period</key>
		<integer>-30</integer>
	</dict>
	<key>braceleft</key>
	<dict>
		<key>j</key>
		<integer>45</integer>
		<key>y</key>
		<integer>40</integer>
	</dict>
	<key>bracketleft</key>
	<dict>
		<key>d</key>
		<integer>-10</integer>
		<key>e</key>
		<integer>-10</integer>
		<key>j</key>
		<integer>40</integer>
		<key>y</key>
		<integer>35</integer>
	</dict>
	<key>c</key>
	<dict>
		<key>k</key>
		<integer>-8</integer>
		<key>y</key>
		<integer>5</integer>
	</dict>
	<key>comma</key>
	<dict>
		<key>seven</key>
		<integer>-20</integer>
		<key>zero</key>
		<integer>-20</integer>
	</dict>
	<key>dcaron</key>
	<dict>
		<key>question</key>
		<integer>20</integer>
	</dict>
	<key>dollar</key>
	<dict>
		<key>four</key>
		<integer>-15</integer>
		<key>seven</key>
		<integer>-10</integer>
	</dict>
	<key>eight</key>
	<dict>
		<key>cent</key>
		<integer>10</integer>
		<key>endash</key>
		<integer>20</integer>
	</dict>
	<key>endash</key>
	<dict>
		<key>eight</key>
		<integer>20</integer>
		<key>five</key>
		<integer>20</integer>
		<key>nine</key>
		<integer>20</integer>
		<key>six</key>
		<integer>20</integer>
		<key>two</key>
		<integer>-10</integer>
		<key>zero</key>
		<integer>20</integer>
	</dict>
	<key>exclamdown</key>
	<dict>
		<key>j</key>
		<integer>15</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>a</key>
		<integer>-23</integer>
		<key>braceright</key>
		<integer>20</integer>
		<key>bracketright</key>
		<integer>15</integer>
		<key>c</key>
		<integer>-15</integer>
		<key>colon</key>
		<integer>-20</integer>
		<key>comma</key>
		<integer>-30</integer>
		<key>d</key>
		<integer>-10</integer>
		<key>e</key>
		<integer>-15</integer>
		<key>g</key>
		<integer>-25</integer>
		<key>j</key>
		<integer>-7</integer>
		<key>o</key>
		<integer>-15</integer>
		<key>parenright</key>
		<integer>20</integer>
		<key>period</key>
		<integer>-40</integer>
		<key>q</key>
		<integer>-18</integer>
		<key>quoteright</key>
		<integer>20</integer>
		<key>quotesingle</key>
		<integer>40</integer>
		<key>s</key>
		<integer>-5</integer>
		<key>semicolon</key>
		<integer>-20</integer>
		<key>y</key>
		<integer>15</integer>
	</dict>
	<key>five</key>
	<dict>
		<key>period</key>
		<integer>10</integer>
	</dict>
	<key>four</key>
	<dict>
		<key>endash</key>
		<integer>10</integer>
		<key>ordfeminine</key>
		<integer>-10</integer>
		<key>seven</key>
		<integer>-14</integer>
	</dict>
	<key>g</key>
	<dict>
		<key>u</key>
		<integer>-10</integer>
		<key>y</key>
		<integer>6</integer>
		<key>z</key>
		<integer>-7</integer>
	</dict>
	<key>h</key>
	<dict>
		<key>v</key>
		<integer>-10</integer>
	</dict>
	<key>hyphen</key>
	<dict>
		<key>seven</key>
		<integer>-40</integer>
	</dict>
	<key>j</key>
	<dict>
		<key>braceright</key>
		<integer>10</integer>
	</dict>
	<key>k</key>
	<dict>
		<key>a</key>
		<integer>-10</integer>
		<key>c</key>
		<integer>-10</integer>
		<key>e</key>
		<integer>-10</integer>
		<key>f</key>
		<integer>-10</integer>
		<key>g</key>
		<integer>-20</integer>
		<key>o</key>
		<integer>-10</integer>
		<key>s</key>
		<integer>-15</integer>
	</dict>
	<key>nine</key>
	<dict>
		<key>cent</key>
		<integer>10</integer>
		<key>endash</key>
		<integer>20</integer>
	</dict>
	<key>o</key>
	<dict>
		<key>comma</key>
		<integer>-20</integer>
		<key>period</key>
		<integer>-20</integer>
	</dict>
	<key>one</key>
	<dict>
		<key>endash</key>
		<integer>10</integer>
		<key>ordfeminine</key>
		<integer>-10</integer>
		<key>ordmasculine</key>
		<integer>-15</integer>
	</dict>
	<key>p</key>
	<dict>
		<key>comma</key>
		<integer>-20</integer>
		<key>period</key>
		<integer>-15</integer>
	</dict>
	<key>parenleft</key>
	<dict>
		<key>j</key>
		<integer>40</integer>
		<key>y</key>
		<integer>40</integer>
	</dict>
	<key>period</key>
	<dict>
		<key>Y</key>
		<integer>-20</integer>
		<key>four</key>
		<integer>5</integer>
	</dict>
	<key>q</key>
	<dict>
		<key>j</key>
		<integer>5</integer>
	</dict>
	<key>questiondown</key>
	<dict>
		<key>j</key>
		<integer>25</integer>
		<key>y</key>
		<integer>20</integer>
	</dict>
	<key>quotedblright</key>
	<dict>
		<key>space</key>
		<integer>-80</integer>
	</dict>
	<key>quoteright</key>
	<dict>
		<key>A</key>
		<integer>-70</integer>
		<key>C</key>
		<integer>-15</integer>
		<key>M</key>
		<integer>-10</integer>
		<key>O</key>
		<integer>-20</integer>
		<key>Q</key>
		<integer>-15</integer>
		<key>c</key>
		<integer>-20</integer>
		<key>d</key>
		<integer>-70</integer>
		<key>e</key>
		<integer>-20</integer>
		<key>g</key>
		<integer>-70</integer>
		<key>o</key>
		<integer>-20</integer>
		<key>q</key>
		<integer>-20</integer>
		<key>space</key>
		<integer>-80</integer>
	</dict>
	<key>quotesingle</key>
	<dict>
		<key>nine</key>
		<integer>-10</integer>
		<key>six</key>
		<integer>-10</integer>
	</dict>
	<key>r</key>
	<dict>
		<key>a</key>
		<integer>-12</integer>
		<key>c</key>
		<integer>-10</integer>
		<key>colon</key>
		<integer>-20</integer>
		<key>comma</key>
		<integer>-35</integer>
		<key>d</key>
		<integer>-9</integer>
		<key>e</key>
		<integer>-10</integer>
		<key>g</key>
		<integer>-25</integer>
		<key>o</key>
		<integer>-10</integer>
		<key>period</key>
		<integer>-40</integer>
		<key>q</key>
		<integer>-8</integer>
		<key>s</key>
		<integer>-8</integer>
		<key>semicolon</key>
		<integer>-20</integer>
		<key>x</key>
		<integer>6</integer>
		<key>y</key>
		<integer>8</integer>
	</dict>
	<key>seven</key>
	<dict>
		<key>comma</key>
		<integer>-45</integer>
		<key>four</key>
		<integer>-25</integer>
		<key>ordfeminine</key>
		<integer>20</integer>
		<key>period</key>
		<integer>-40</integer>
	</dict>
	<key>six</key>
	<dict>
		<key>cent</key>
		<integer>10</integer>
		<key>comma</key>
		<integer>-20</integer>
		<key>endash</key>
		<integer>20</integer>
		<key>four</key>
		<integer>-20</integer>
		<key>period</key>
		<integer>-10</integer>
		<key>seven</key>
		<integer>-20</integer>
	</dict>
	<key>slash</key>
	<dict>
		<key>a</key>
		<integer>-20</integer>
		<key>b</key>
		<integer>-20</integer>
		<key>c</key>
		<integer>-30</integer>
		<key>colon</key>
		<integer>-20</integer>
		<key>d</key>
		<integer>-20</integer>
		<key>e</key>
		<integer>-40</integer>
		<key>g</key>
		<integer>-40</integer>
		<key>h</key>
		<integer>-10</integer>
		<key>o</key>
		<integer>-40</integer>
		<key>p</key>
		<integer>-10</integer>
		<key>q</key>
		<integer>-30</integer>
		<key>slash</key>
		<integer>-20</integer>
		<key>u</key>
		<integer>-25</integer>
		<key>v</key>
		<integer>-30</integer>
		<key>w</key>
		<integer>-20</integer>
		<key>y</key>
		<integer>-30</integer>
		<key>z</key>
		<integer>-20</integer>
	</dict>
	<key>space</key>
	<dict>
		<key>W</key>
		<integer>-20</integer>
	</dict>
	<key>three</key>
	<dict>
		<key>endash</key>
		<integer>10</integer>
		<key>quotesingle</key>
		<integer>-10</integer>
	</dict>
	<key>two</key>
	<dict>
		<key>endash</key>
		<integer>10</integer>
	</dict>
	<key>u</key>
	<dict>
		<key>v</key>
		<integer>-8</integer>
	</dict>
	<key>v</key>
	<dict>
		<key>a</key>
		<integer>-15</integer>
		<key>c</key>
		<integer>-15</integer>
		<key>colon</key>
		<integer>-10</integer>
		<key>comma</key>
		<integer>-35</integer>
		<key>d</key>
		<integer>-5</integer>
		<key>e</key>
		<integer>-10</integer>
		<key>g</key>
		<integer>-10</integer>
		<key>period</key>
		<integer>-45</integer>
		<key>semicolon</key>
		<integer>-10</integer>
		<key>u</key>
		<integer>-8</integer>
	</dict>
	<key>w</key>
	<dict>
		<key>a</key>
		<integer>-10</integer>
		<key>c</key>
		<integer>-10</integer>
		<key>colon</key>
		<integer>-10</integer>
		<key>comma</key>
		<integer>-35</integer>
		<key>d</key>
		<integer>-5</integer>
		<key>g</key>
		<integer>-5</integer>
		<key>period</key>
		<integer>-45</integer>
		<key>semicolon</key>
		<integer>-10</integer>
		<key>u</key>
		<integer>-10</integer>
	</dict>
	<key>x</key>
	<dict>
		<key>a</key>
		<integer>-5</integer>
		<key>c</key>
		<integer>-10</integer>
		<key>g</key>
		<integer>-15</integer>
	</dict>
	<key>y</key>
	<dict>
		<key>a</key>
		<integer>-17</integer>
		<key>c</key>
		<integer>-7</integer>
		<key>colon</key>
		<integer>-10</integer>
		<key>comma</key>
		<integer>-55</integer>
		<key>d</key>
		<integer>-10</integer>
		<key>e</key>
		<integer>-10</integer>
		<key>g</key>
		<integer>-20</integer>
		<key>o</key>
		<integer>-10</integer>
		<key>period</key>
		<integer>-45</integer>
		<key>q</key>
		<integer>-10</integer>
		<key>semicolon</key>
		<integer>-15</integer>
		<key>slash</key>
		<integer>10</integer>
	</dict>
	<key>z</key>
	<dict>
		<key>a</key>
		<integer>-35</integer>
		<key>c</key>
		<integer>-20</integer>
		<key>g</key>
		<integer>-12</integer>
		<key>u</key>
		<integer>-7</integer>
	</dict>
	<key>zero</key>
	<dict>
		<key>cent</key>
		<integer>10</integer>
		<key>comma</key>
		<integer>-20</integer>
		<key>endash</key>
		<integer>20</integer>
		<key>period</key>
		<integer>-20</integer>
	</dict>
</dict>
</plist>
