<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GSDimensionPlugin.Dimensions</key>
	<dict>
		<key>6114C541-D024-4A3E-9713-6FAF49EAB318</key>
		<dict>
			<key>HH</key>
			<integer>110</integer>
			<key>HV</key>
			<integer>132</integer>
			<key>OH</key>
			<integer>115</integer>
			<key>OV</key>
			<integer>140</integer>
			<key>nV</key>
			<integer>130</integer>
			<key>nd</key>
			<integer>100</integer>
			<key>oH</key>
			<integer>105</integer>
			<key>oV</key>
			<integer>133</integer>
		</dict>
		<key>CC11FE7D-5FF0-4B40-9597-DFC61EB94F41</key>
		<dict>
			<key>HH</key>
			<integer>35</integer>
			<key>HV</key>
			<integer>39</integer>
			<key>OH</key>
			<integer>37</integer>
			<key>OV</key>
			<integer>44</integer>
			<key>nV</key>
			<integer>38</integer>
			<key>nd</key>
			<integer>30</integer>
			<key>oH</key>
			<integer>33</integer>
			<key>oV</key>
			<integer>40</integer>
		</dict>
	</dict>
	<key>com.schriftgestaltung.fontMaster.userData</key>
	<dict>
		<key>angle</key>
		<integer>5</integer>
		<key>height</key>
		<integer>37</integer>
		<key>width</key>
		<integer>44</integer>
	</dict>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>CC11FE7D-5FF0-4B40-9597-DFC61EB94F41</string>
	<key>com.schriftgestaltung.useNiceNames</key>
	<false/>
	<key>com.schriftgestaltung.weight</key>
	<string>Light</string>
	<key>com.schriftgestaltung.weightValue</key>
	<real>36</real>
	<key>com.schriftgestaltung.width</key>
	<string>Condensed</string>
	<key>public.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>uni0D82</string>
		<string>si_A</string>
		<string>si_U</string>
		<string>si_Ga</string>
		<string>si_Tta</string>
		<string>si_Dda</string>
		<string>si_Ddha</string>
		<string>si_Nna</string>
		<string>si_Da</string>
		<string>si_Ma</string>
		<string>si_Ya</string>
		<string>si_Ra</string>
		<string>si_La</string>
		<string>si_Va</string>
		<string>si_Sa</string>
		<string>si_TI</string>
		<string>si_TI.rakar</string>
		<string>NameMe.12</string>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>AE</string>
		<string>B</string>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>D</string>
		<string>Eth</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>F</string>
		<string>G</string>
		<string>Gbreve</string>
		<string>H</string>
		<string>I</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Igrave</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Lslash</string>
		<string>M</string>
		<string>N</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ntilde</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>OE</string>
		<string>P</string>
		<string>Thorn</string>
		<string>Q</string>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>T</string>
		<string>Tcaron</string>
		<string>U</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>uni0122</string>
		<string>uni0136</string>
		<string>uni013B</string>
		<string>uni0145</string>
		<string>uni0156</string>
		<string>uni015E</string>
		<string>uni0162</string>
		<string>uni0218</string>
		<string>uni021A</string>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>atilde</string>
		<string>ae</string>
		<string>b</string>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>d</string>
		<string>eth</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>f</string>
		<string>g</string>
		<string>gbreve</string>
		<string>h</string>
		<string>i</string>
		<string>dotlessi</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>lslash</string>
		<string>m</string>
		<string>n</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>ntilde</string>
		<string>o</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslash</string>
		<string>otilde</string>
		<string>oe</string>
		<string>p</string>
		<string>thorn</string>
		<string>q</string>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>germandbls</string>
		<string>t</string>
		<string>tcaron</string>
		<string>u</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uni0123</string>
		<string>uni0137</string>
		<string>uni013C</string>
		<string>uni0146</string>
		<string>uni0157</string>
		<string>uni015F</string>
		<string>uni0163</string>
		<string>uni0219</string>
		<string>uni021B</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
		<string>fi</string>
		<string>fl</string>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
		<string>pi</string>
		<string>uni0B85</string>
		<string>uni0B86</string>
		<string>uni0B90</string>
		<string>uni0B94</string>
		<string>uni0B9A</string>
		<string>uni0B8E</string>
		<string>uni0B8F</string>
		<string>uni0BB9</string>
		<string>uni0B87</string>
		<string>uni0B88</string>
		<string>uni0B9C</string>
		<string>uni0B95</string>
		<string>uni0BB2</string>
		<string>uni0BB3</string>
		<string>uni0BB4</string>
		<string>uni0BAE</string>
		<string>uni0BA8</string>
		<string>uni0B99</string>
		<string>uni0BA3</string>
		<string>uni0BA9</string>
		<string>uni0B9E</string>
		<string>uni0B92</string>
		<string>uni0BD0</string>
		<string>uni0B93</string>
		<string>uni0BAA</string>
		<string>uni0BB0</string>
		<string>uni0BB1</string>
		<string>uni0BB8</string>
		<string>uni0BB6</string>
		<string>uni0BB7</string>
		<string>uni0BA4</string>
		<string>uni0B9F</string>
		<string>uni0B89</string>
		<string>uni0B8A</string>
		<string>uni0BB5</string>
		<string>uni0B83</string>
		<string>uni0BAF</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>one.copy</string>
		<string>two.copy</string>
		<string>three.copy</string>
		<string>fraction</string>
		<string>onehalf</string>
		<string>onequarter</string>
		<string>threequarters</string>
		<string>onesuperior</string>
		<string>twosuperior</string>
		<string>threesuperior</string>
		<string>uni0BEE</string>
		<string>uni0BEB</string>
		<string>uni0BEA</string>
		<string>uni0BEF</string>
		<string>uni0BE7</string>
		<string>uni0BED</string>
		<string>uni0BEC</string>
		<string>uni0BE9</string>
		<string>uni0BE8</string>
		<string>uni0BE6</string>
		<string>uni0BF1</string>
		<string>uni0BF0</string>
		<string>uni0BF2</string>
		<string>asterisk</string>
		<string>backslash</string>
		<string>periodcentered</string>
		<string>bullet</string>
		<string>colon</string>
		<string>comma</string>
		<string>ellipsis</string>
		<string>exclam</string>
		<string>exclamdown</string>
		<string>numbersign</string>
		<string>period</string>
		<string>question</string>
		<string>questiondown</string>
		<string>quotedbl</string>
		<string>quotesingle</string>
		<string>semicolon</string>
		<string>slash</string>
		<string>underscore</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>emdash</string>
		<string>endash</string>
		<string>hyphen</string>
		<string>uni00AD</string>
		<string>guillemotleft</string>
		<string>guillemotright</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>quotedblbase</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotesinglbase</string>
		<string>space</string>
		<string>uni00A0</string>
		<string>uni200D</string>
		<string>uni200C</string>
		<string>Euro</string>
		<string>cent</string>
		<string>currency</string>
		<string>dollar</string>
		<string>florin</string>
		<string>sterling</string>
		<string>uni0BF9</string>
		<string>uni20BA</string>
		<string>uni20BD</string>
		<string>yen</string>
		<string>approxequal</string>
		<string>asciitilde</string>
		<string>divide</string>
		<string>equal</string>
		<string>greater</string>
		<string>greaterequal</string>
		<string>infinity</string>
		<string>integral</string>
		<string>less</string>
		<string>lessequal</string>
		<string>logicalnot</string>
		<string>minus</string>
		<string>multiply</string>
		<string>notequal</string>
		<string>partialdiff</string>
		<string>percent</string>
		<string>perthousand</string>
		<string>plus</string>
		<string>plusminus</string>
		<string>product</string>
		<string>radical</string>
		<string>summation</string>
		<string>uni00B5</string>
		<string>uni2126</string>
		<string>uni2206</string>
		<string>uni2215</string>
		<string>uni2219</string>
		<string>dottedcircle</string>
		<string>lozenge</string>
		<string>bar</string>
		<string>brokenbar</string>
		<string>at</string>
		<string>ampersand</string>
		<string>paragraph</string>
		<string>copyright</string>
		<string>registered</string>
		<string>section</string>
		<string>trademark</string>
		<string>degree</string>
		<string>estimated</string>
		<string>uni2113</string>
		<string>asciicircum</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>uni0BF8</string>
		<string>uni0BF7</string>
		<string>uni0BF3</string>
		<string>uni0BF6</string>
		<string>uni0BF4</string>
		<string>uni0BFA</string>
		<string>uni0BF5</string>
		<string>acute</string>
		<string>breve</string>
		<string>caron</string>
		<string>cedilla</string>
		<string>circumflex</string>
		<string>dieresis</string>
		<string>dotaccent</string>
		<string>grave</string>
		<string>hungarumlaut</string>
		<string>macron</string>
		<string>ogonek</string>
		<string>ring</string>
		<string>tilde</string>
		<string>uni02C9</string>
		<string>uni0BD7</string>
		<string>uni0BBE</string>
		<string>uni0BC8</string>
		<string>uni0BCC</string>
		<string>uni0BC6</string>
		<string>uni0BC7</string>
		<string>uni0BBF</string>
		<string>uni0BCA</string>
		<string>uni0BCB</string>
		<string>uni0BC1</string>
		<string>uni0BC2</string>
		<string>uni0B82</string>
		<string>uni0BC0</string>
		<string>uni0BCD</string>
		<string>si_Aa</string>
		<string>si_Aae</string>
		<string>si_Ae</string>
		<string>si_Ca</string>
		<string>si_Dha</string>
		<string>si_E</string>
		<string>si_I</string>
		<string>si_Ka</string>
		<string>si_Pa</string>
		<string>si_Pha</string>
		<string>si_Tha</string>
		<string>si_Ttha</string>
		<string>si_Uu</string>
		<string>tml_TtI</string>
		<string>tml_KU</string>
		<string>tml_CU</string>
		<string>tml_NyU</string>
		<string>tml_TtU</string>
		<string>tml_NnU</string>
		<string>tml_TU</string>
		<string>tml_NU</string>
		<string>tml_NnnU</string>
		<string>tml_MU</string>
		<string>tml_RU</string>
		<string>tml_RrU</string>
		<string>tml_LU</string>
		<string>tml_LlU</string>
		<string>tml_LllU</string>
		<string>tml_KUu</string>
		<string>tml_NgUu</string>
		<string>tml_CUu</string>
		<string>tml_NyUu</string>
		<string>tml_TtUu</string>
		<string>tml_NnUu</string>
		<string>tml_TUu</string>
		<string>tml_NUu</string>
		<string>tml_NnnUu</string>
		<string>tml_PUu</string>
		<string>tml_MUu</string>
		<string>tml_YUu</string>
		<string>tml_RUu</string>
		<string>tml_RrUu</string>
		<string>tml_LUu</string>
		<string>tml_LlUu</string>
		<string>tml_LllUu</string>
		<string>tml_KSsa</string>
		<string>tml_Shree</string>
		<string>tml_NnAa.alt</string>
		<string>tml_NnnAa.alt</string>
		<string>tml_RrAa.alt</string>
		<string>tml_MatraI.alt1</string>
		<string>tml_MatraI.alt2</string>
		<string>tml_MatraI.alt3</string>
		<string>tml_MatraI.alt4</string>
		<string>tml_MatraI.alt5</string>
		<string>tml_MatraI.alt6</string>
		<string>tml_MatraI.alt7</string>
		<string>tml_MatraIi.alt1</string>
		<string>tml_MatraU.alt1</string>
		<string>tml_MatraI.stylalt1</string>
		<string>tml_MatraIi.stylalt1</string>
		<string>tml_MatraAi.alt</string>
		<string>tml_TtIi</string>
	</array>
</dict>
</plist>
